@import "normalizez.scss"
@import "resetz.scss"

* 
   box-sizing: border-box

$color-blue: #5290EA
$color-orange: #F28B64
$color-grey: #E2E2E2

.container
   max-width: 1140px
   margin: 0 auto

.main-section 
   height: 800px
   background-color: #F0F0F0
   padding-top: 16px
   &__nav-container
      display: flex
      flex-direction: row
      justify-content: space-between
      height: 69px
      align-items: center
   &__logo
      width: 134px
   &__content-container
      display: flex
      flex-direction: row

.nav-menu
   &__list
      display: flex
      flex-direction: row
   &__list-item
      margin-right: 64px
      font-size: 18px
      &:last-child
         margin-right: 0px

.left-wrapper
   position: relative
   img
      position: relative
      z-index: 5
   &__rectangle-blue
      position: absolute
      z-index: 2
      top: 150px
      left: -50px      
      transform: rotate(-64deg)
      width: 565px
      height: 220px
      background: $color-blue
      border-radius: 100px
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
   &__rectangle-orange
      position: absolute
      z-index: 3
      top: 160px
      left: -30px      
      transform: rotate(-50deg)
      width: 618px
      height: 220px
      background: $color-orange
      border-radius: 100px
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
   &__rectangle-grey
      position: absolute
      z-index: 1
      top: 190px
      left: 10px      
      transform: rotate(-36deg)
      width: 618px
      height: 220px
      background: $color-grey
      border-radius: 100px
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
.icons
   display: inline-flex
   &__item
      display: flex
      justify-content: center
      align-items: center
      width: 40px
      height: 40px
      border: 1px solid $color-blue
      border-radius: 100px
      margin-right: 17px
      &:last-child
         margin-right: 0px
      i
         font-size: 21px
         
