body {
    background-color: #FFE2B0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
}

ul {
    list-style-type: none; /* removed dots in list */
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}

li:last-child {
    margin-right: 0px;
}

a {
    color: black;
    text-decoration: none; /* Убрали подчеркивание*/
    font-size: 18px;  
}

.section-about {
    height: 640px;
    /*background-image: url(../img/01-Background-image.jpg);
    background-position: center;
    background-size: cover; /* изображение растягивается по ширине*/
    background: url(../img/01-Background-image.jpg) center/cover no-repeat;
}