* {
    box-sizing: border-box;
}

body {
    background-color: #FFE2B0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
}

ul {
    list-style-type: none; /* removed dots in list */
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}

li:last-child {
    margin-right: 0px;
}

a {
    color: black;
    text-decoration: none; /* Убрали подчеркивание*/
    font-size: 18px;  
}

.section-about {
    position:relative;
    height: 640px;
    /*background-image: url(../img/01-Background-image.jpg);
    background-position: center;
    background-size: cover; /* изображение растягивается по ширине*/
    background: url(../img/01-Background-image.jpg) center/cover no-repeat;
   
}

.section-about__block {
    position: absolute;
    top: 54%;
    left: 50%;
    width: 420px;
    height: 190px;    
    background: linear-gradient(
        180deg, 
        rgba(244, 213, 178, 0.8) 0%, 
        rgba(234, 156, 65, 0.8) 100%
    );
    padding-top: 15px;
}

.section-about__border {
    border: 1px solid black;
    width: 390px;
    height: 160px;    
    margin: 0 auto;  
    padding: 17px 0 0 28px;  
    text-align: left;
}

.section-about__title {
    font-size: 36px;    
    font-family: Philosopher regular;    
    margin: 0;
    margin-bottom: 9px
}

.section-about__text {
    font-size: 12px;
    font-family: Roboto regular;
    margin: 0;        
}
